{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="text-center">

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form role="form" method="post" action="{% url 'account:login' %}">{% csrf_token %}
<div class="form-group">
    {{ form.username.label_tag }}
    {{ form.username }}
</div>
<div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password }}
</div>
<button type="submit" class="btn btn-default btn-lg">login</button>
<input type="hidden" name="next" value="{% url 'index' %}" />
</form>

</div> <!--centering-->
</div> <!--container-->

{% endblock %}
